*.vsidx
*.txt
*.cache
*.assets.cache
*.props
*.json
*.bin
*.suo
*.futdcache.v2
obj/Debug/net8.0/shooter_server.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/shooter_server.AssemblyInfo.cs
